h1, h2, h3, h4, h5, h6,
.pseudo-h1, .pseudo-h2, .pseudo-h3, 
.pseudo-h4, .pseudo-h5, .pseudo-h6,
.pseudo-h7, .pseudo-h8{
  font-family: museo-sans, helvetica, arial, sans-serif;
  font-weight: bold;
}

h1, .pseudo-h1{
  font-size: 30px;
  color: #CF0A2C;
}

h2, .pseudo-h2 {
  font-size: 24px;
  color: #CF0A2C;
}

h3, .pseudo-h3 {
  font-size: 20px;
  color: #000000;
}

h4, .pseudo-h4 {
	font-size: 18px;
	color: #CF0A2C;
}

h5, .pseudo-h5, .sm-h4 {
	font-size: 16px;
	color: #000000;
}

h6, .pseudo-h6, .sm-h3 {
	font-size: 14px;
	color: #CF0A2C;
}

.pseudo-h7 {
	font-size: 13px;
	color: #000000;
}

.pseudo-h8 {
	font-size: 13px;
	color: #000000;
}

.section-header
{
	text-decoration: underline;
}

.spacey p
{
	margin-top: .5em;
	margin-bottom: .5em;
}
.spacey
{
	margin-top: .5em;
	margin-bottom: .5em;
}